.App{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine {
  width: 80%;
  max-width: 300px;
  border: solid 1px white;
}

h1 {
  font-size: 2rem;
}

#audio-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  text-align: center;
  margin: 0;
}

#keys {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-bottom: 3rem;
}

.drum-pad {
  border: solid 1px white;
  width: 25%;
  font-size: 2rem;
  text-align: center;
}

.drum-pad:active {
  background: white !important;
}

@media screen and (max-width: 200px) {
  h1 {
    font-size: 1rem;
  }
  .drum-pad {
    height: 15%;
    font-size: 1rem;
  }
}


